// Typography
$sans-serif: "PT Sans", sans-serif;
$sans-serif-2: "Titillium Web", sans-serif;
$font-stack-system: $sans-serif;
$base-font-family: $font-stack-system;
$heading-font-family: $sans-serif-2;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1494CC;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$sfa-purple:#5f259f;
$sfa-black:#212121;
$sfa-white:#f5f5f5;
$sfa-red:#ac1a2f;

// Font Colors
$base-font-color: tint($sfa-black, 15%);
$action-color: $sfa-purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
