.content-wrapper {
  background-color:#fff;
  padding: 1rem;
  min-height: 60vh;
  h1 {
    font-size:2rem;
    // margin-bottom:0;
  }
  h2 {
    font-size:1.5rem;
    margin-bottom:0;
  }
  h3 {
    font-size:1.2rem;
    margin-bottom:0;
  }
  p {
    font-size:1.1rem;
  }
  a:not(.button) {
    color: $sfa-purple;
  }
  form {
    @include grid-collapse($content-layout);
    @include grid-media($content-layout--tablet-up) {
      @include grid-collapse($content-layout--tablet-up);
    }
    @include grid-container;
    fieldset {
      border-top:3px solid shade($sfa-white, 2%);
      margin-bottom:1rem;
      padding:1em 0;
      legend {
        background-color:shade($sfa-white, 0.5%);
        padding:0.125rem 1rem;
        @include grid-media($content-layout--tablet-up) {
          font-size:1.3rem;
        }
      }
    }
    .form-notes {
      @include grid-column(4, $content-layout);
      @include grid-media($content-layout--tablet-up) {
        @include grid-column(3, $content-layout--tablet-up);
      }
      p {
        font-size: 0.9rem;
      }
    }
    .form-fields {
      @include grid-column(4, $content-layout);
      @include grid-media($content-layout--tablet-up) {
        @include grid-column(5, $content-layout--tablet-up);
      }
    }
    .comments textarea {
      height:5em;
    }
    .actions {
      @include grid-column(4, $content-layout);
      @include grid-media($content-layout--tablet-up) {
        @include grid-column(4, $content-layout--tablet-up);
        @include grid-push(3, $content-layout--tablet-up);
      }
    }
  }
  @import "grid";
}
