$base-spacing: 1.5em !default;
$flashes: (
  "alert": $blue,
  "error": tint($sfa-red, 20%),
  "notice": #e5edf8,
  "success": #e6efc2,
) !default;

@each $flash-type, $color in $flashes {
  .flash-#{$flash-type} {
    background-color: $color;
    color: shade($color, 60%);
    display: block;
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2;
    text-align: center;
    a {
      color: shade($color, 70%);
      text-decoration: underline;
      &:focus,
      &:hover {
        color: shade($color, 90%);
      }
    }
  }
}
.flash-error {
  color: #fff;
}

.flashes {
  top:0;
  left:0;
  position:fixed;
  width:100%;
  font-weight:bold;
  @include grid-media($content-layout--tablet-up) {
    width:30%;
    left: 35%;
  }
}
