.footer {
  background-color: tint($sfa-black, 10%);
  color: $sfa-white;
  padding: 1rem 2rem;
  a {
    color: $sfa-white;
    &:hover {
      color: shade($sfa-white, 20%);
    }
  }
  p {
    font-weight: bold;
  }
  ul {
    li {
      display: inline-block;
    }
  }
}
