.columns {
  @include grid-collapse($content-layout);
  @include grid-media($content-layout--tablet-up) {
    @include grid-collapse($content-layout--tablet-up);
  }
  @include grid-container;
}
@include grid-media($content-layout--tablet-up) {
  .column.is-1 {
    @include grid-column(1, $content-layout--tablet-up);
  }
  .column.is-2 {
    @include grid-column(2, $content-layout--tablet-up);
    &.is-centered {
      @include grid-push(5, $content-layout--tablet-up);
    }
  }
  .column.is-3 {
    @include grid-column(3, $content-layout--tablet-up);
  }
  .column.is-4 {
    @include grid-column(4, $content-layout--tablet-up);
    &.is-centered {
      @include grid-push(4, $content-layout--tablet-up);
    }
  }
  .column.is-5 {
    @include grid-column(5, $content-layout--tablet-up);
  }
  .column.is-6 {
    @include grid-column(6, $content-layout--tablet-up);
    &.is-centered {
      @include grid-push(3, $content-layout--tablet-up);
    }
  }
  .column.is-7 {
    @include grid-column(7, $content-layout--tablet-up);
  }
  .column.is-8 {
    @include grid-column(8, $content-layout--tablet-up);
    &.is-centered {
      @include grid-push(2, $content-layout--tablet-up);
    }
  }
  .column.is-9 {
    @include grid-column(9, $content-layout--tablet-up);
  }
  .column.is-10 {
    @include grid-column(10, $content-layout--tablet-up);
    &.is-centered {
      @include grid-push(1, $content-layout--tablet-up);
    }
  }
  .column.is-11 {
    @include grid-column(11, $content-layout--tablet-up);
  }
  .column.is-12 {
    @include grid-column(12, $content-layout--tablet-up);
  }
}
