$tablet-up: 800px;

$header-layout: (
  columns: 4,
  gutter: 0,
);

$header-layout--tablet-up: (
  columns: 14,
  gutter: 0,
  media: "(min-width: " + $tablet-up +")",
);

$content-layout: (
  columns: 4,
  gutter: 0,
);

$content-layout--tablet-up: (
  columns: 12,
  gutter: 1rem,
  media: "(min-width: " + $tablet-up +")",
);

$header-height: 100px;
$half-header-height: $header-height / 2;

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function svg-bars($color1, $color2, $height1, $height2) {
  $color1: str-replace('' + $color1 + '', '#', '%23');
  $color2: str-replace('' + $color2 + '', '#', '%23');
  @return 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Crect height="' + $height1 + '" width="100%" y="0" fill="' + $color1 + '" /%3E%3Crect height="' + $height2 + '" width="100%" y="' + $height1 + '" fill="' + $color2 + '"/%3E%3C/svg%3E';
  // http://petercollingridge.appspot.com/svg-optimiser
  // https://codepen.io/jakob-e/pen/doMoML
}
