.header {
  background-image: url('../images/header.png');
  background-repeat: repeat-x;
  height: $header-height;

  .sfa-logo {
    background: $sfa-purple;
    display: block;
    float: left;
    height: $header-height;
    padding:0.5em;
    width: $header-height;
  }

  .nameplate {
    margin-left: $header-height;
    .sfa-name {
      @include grid-column(4, $header-layout);
      color: $sfa-white;
      height: $half-header-height;
      line-height: $half-header-height;
      padding-left: 0.5rem;
      text-transform: uppercase;
      font-size:0.9rem;
      font-weight:bold;
      @include grid-media($header-layout--tablet-up) {
        @include grid-column(14, $header-layout--tablet-up);
        font-size: 1.6em;
      }
      // img {
      //   // height:0.9rem;
      //   @include grid-media($header-layout--tablet-up) {
      //     padding-top:0.25rem;
      //     height: 1.6rem;
      //   }
      // }
    }
    .unit-name {
      @include grid-column(4, $header-layout);
      color: tint($sfa-black, 40%);
      height: $half-header-height;
      line-height: $half-header-height;
      padding-left: 0.5rem;
      font-weight: bold;
      font-size: 0.85em;
      @include grid-media($header-layout--tablet-up) {
        @include grid-column(14, $header-layout--tablet-up);
        font-size:1.2em;
      }
    }
  }

}

