.nav-main {
  background: #fff;
  border-bottom:1px dotted $sfa-white;
  a {
    color: $sfa-black;
    display: inline-block;
    font-weight: bold;
    padding:0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color:$sfa-white;
    }
  }
}
