@import url("https://fonts.googleapis.com/css?family=PT+Sans|Titillium+Web");

@import "~normalize.css";
@import "~bourbon/core/bourbon";
@import "~bourbon-neat/core/neat";
@import "base/base";

@import "grid-functions";

body {
  background-color: shade($sfa-white, 5%);
  background-image: url('../images/body.png');
  background-repeat: repeat-x;
}

.application {
  @include grid-container;
  background: $sfa-white;
  border-top: 0;
  max-width: 1400px;
  margin: auto;
  @include grid-media($content-layout--tablet-up) {
    border-bottom: 3px solid $light-gray;
    margin-bottom:3em;
  }
}

.visually-hidden {
  display:none;
}

@import "content";
@import "header";
@import "navigation";
@import "footer";
@import "flashes";
@import "errors";
@import "animate";
